$slate: #8892b0;
$navy: #0a192f;
$MediumSlateBlue: #7b68ee;
$DarkBlue: #00008b;
$Aquamarine: #7fffd4;
$lightSlate: #ccd6f6;
$lightest-navy: #233554;
$LinkTheme: #d1e8e2;
$NavTheme: black;
$navColor: #575757;
$textColor: #e5e5e5;
$hover: #ffa000;
$smallText: #8892b0;
