@import "../colors/colors";
.resetLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  &:hover {
    color: $hover;
    transition: 0.15s ease-in-out;
  }
}
