@import "../colors/colors";
@import "../fonts/fonts";

.postContainer {
  margin-bottom: 20px;
  .post {
    margin-top: 30px;
    .postTitle {
      font-size: $text-3xl36;
      color: #575757;
      font-weight: 400;
    }
    a {
      width: auto;
      text-decoration: none;
      color: $navColor;
      font-weight: $fw400;
      h2 {
        font-size: $text-3xl36;
        font-weight: 400;
      }
      &:hover {
        color: $hover;
        transition: 0.15s;
      }
    }
    header {
      padding-bottom: 20px;
      .entryTitle {
        margin-bottom: 15px;
        a {
          text-decoration: none;
          font-size: $text-3xl30;
          font-weight: normal;
          color: $navColor;
          &:hover {
            color: $hover;
            transition: 0.25s ease-in-out;
          }
        }
      }
      .entryMeta {
        span {
          margin-right: 10px;
          time {
            margin-left: 5px;
          }
          a {
            color: $navColor;
            &:hover {
              color: $hover;
              transition: 0.25s ease-in-out;
            }
          }
        }
      }
    }
    figure {
      a {
        img {
          border-radius: 10px;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .entryContent {
      img {
        max-width: 100%;
        border-radius: 10px;
        height: auto;
      }
      p {
        margin-bottom: 15px;
        margin-top: 15px;
        line-height: 1.3;
        color: $navColor;
        font-size: $text-xl20;
      }
      .ingredients {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 120px;
        margin-right: 120px;
        .entryHeader {
          position: relative;
          color: $navColor;
          font-size: $text-2xl24;
          font-weight: normal;
        }
        ul {
          margin-top: 5px;
          text-align: left;
          li {
            line-height: 1.3;
            color: $navColor;
            font-size: $text-xl20;
          }
        }
      }
    }
    .entryHeader:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      bottom: 1px;
      background-color: $smallText;
    }
  }
}
