@import "../fonts/fonts";
@import "../colors/colors";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 102;
  .galleryOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 102;
  }
  .closeModal {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0;
    margin-right: 50px;
    font-size: 40px;
    background: transparent;
    color: grey;
    font-weight: bold;
    z-index: 104;
    &:hover {
      transition: 0.25s;
      color: wheat;
    }
  }
  .previousBtn {
    cursor: pointer;
    font-size: 70px;
    z-index: 1000;
    color: grey;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 40px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    &:hover {
      transition: 0.25s;
      color: wheat;
    }
  }
  .nextBtn {
    z-index: 1000;
    background: transparent;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 40px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 70px;
    color: grey;
    background-color: transparent;
    &:hover {
      transition: 0.25s;
      color: wheat;
    }
  }
  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 103;

    img {
      object-fit: contain;
      width: 700px;
      height: auto;
    }
  }
}

@keyframes ScaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.activeModal {
  animation: ScaleUp 0.3s forwards;
}
