@import "../colors/colors";
@import "../fonts/fonts";
.row {
  display: flex;
  width: 100%;

  .column {
    float: left;
    width: 50%;
    background-color: $slate;

    .slider {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        .prevArrow {
          visibility: visible;
          transform: translateX(0px);
        }
        .nextArrow {
          visibility: visible;
          transform: translateX(0px);
        }
      }
      .prevArrow {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 3rem;
        color: $slate;
        z-index: 10;
        user-select: none;
        transition: 0.25s ease-in-out;
        transform: translateX(-50px);
        &:hover {
          cursor: pointer;
          color: black;
        }
      }
      .nextArrow {
        visibility: hidden;
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 3rem;
        color: $slate;
        z-index: 10;
        user-select: none;
        transition: 0.25s ease-in-out;
        transform: translateX(50px);
        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .image {
        width: 100%;
        height: auto;
        animation: fade 1.2s linear;
      }
      .image.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
      }
      .slogan {
        position: absolute;
        top: 80%;
        left: 42px;
        font-weight: $fw700;
        font-size: $text-3xl36;
        color: black;
        padding: 10px;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }
    }
  }
}
@-webkit-keyframes fade {
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
