$text-xs12: 12px;
$text-sm14: 14px;
$text-base16: 16px;
$text-lg18: 18px;
$text-xl20: 20px;
$text-2xl24: 24px;
$text-3xl30: 30px;
$text-3xl36: 36px;
$text-5xl56: 56px;

$fw400: 400;
$fw500: 500;
$fw700: 700;

$tabHieght: 42px;
