@import "./navigation/navLogo/logo";
@import "./navigation/navBar/navContainer";
@import "./body";
@import "./fonts/fonts";
@import "./colors/colors";
// @import "./aboutPageStyles/slider";
@import "./navigation/navBar/searchFrom";

@import "./footer/footer";
@import "./aboutPageStyles/history";
@import "./aboutPageStyles/secrificate";
@import "./aboutPageStyles/members";
@import "./galleryPageStyle/gallery";
@import "./galleryPageStyle/modalPopUp";
@import "./blogPageStyles.scss/mainBlogPage";
@import "./blogPageStyles.scss/postsPage";
@import "./blogPageStyles.scss/asideList";
@import "./authentification/signUp";
@import "./authentification/userAccaunt";
@import "./authentification/resetPassword";
@import "./homePageStyles/homePresentSection";
@import "./homePageStyles/certificatePageSection";
@import "./homePageStyles/hotOfferPageSection";
@import "./homePageStyles/teamPageSection";
@import "./homePageStyles/reviewPageSection";
@import "./homePageStyles/reommendsPageSection";
@import "./homePageStyles/orderPageSection";
@import "./contactsPageStyles/contactsDataSection";
@import "./contactsPageStyles/contactsGoogleMapStyles";
@import "./contactsPageStyles/getInTouchSection";
@import "./contactsPageStyles/contactsFormSection";
@import "./contactsPageStyles/popupModal";
@import "./termsPageStyles/termsSection";
@import "./policyPageStyles/policySection";
#root {
  position: relative;
  z-index: 0;
  background-color: white;
}
